.opacity-loader {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 100000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.loader {
  height: 20px;
  width: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  &:first-child {
    animation-delay: 0.5s;
  }

  &:nth-child(2) {
    animation-delay: 0.4s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    animation-delay: 0.2s;
  }

  &:nth-child(5) {
    animation-delay: 0.1s;
  }
}

.loader--text {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: auto;
  margin: auto;
  text-align: center;
  &:after {
    content: 'Cargando';
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(130px);
  }
  65% {
    transform: translateX(130px);
  }
  95% {
    transform: translateX(0);
  }
}
